@charset "utf-8";
/* CSS Document Global*/

body {
	background: #eaeaea;
	color: #999;
	font: 100%/1.em sans-serif;
	margin: 0;
}

h3, h4 { margin: 5.0; }

/* ---------- GENERAL ---------- */
fieldset {
	border: none;
	margin: 7.0;
}

input {
  background-color:white
	border-radius: 0.5
	#border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 5.0;
}

input:focus {
	background-image: image(/pie.jpg);
  outline: none;
}

input[type="submit"] { cursor: pointer; }


/* ---------- LOGIN-FORM ---------- */

#login-form {
	margin: 50px auto;
	width: 300px;
}

#login-form h3 {
	background-color: #000080;
	border-radius: 8px 9px 0 0;
	color: #FFFFFF;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #000080;
	padding: 10px 5px;
	width: 250px;
}

#login-form input[type="text"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #000080;
	border-radius: 3px;
	color: #FFF0F5;
	font-weight: bold;
	margin-left: 60px;
	margin-top: 20px;
	padding: 12px 20px;
}

#btn-upp, #cancel-upp {
	background: #000080;
	border-radius:3px;
	color: white;
	padding: 7px 20px;
}

#login-form #sub {
	margin-left: 53px;
}

#login-form input[type="submit"]:hover { background: #000080; }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #DCDCDC;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}

#error {
	background: #A9A9A9;
	width: 325px;
	border: solid black 1px;
	border-radius: 4px;
	padding: 4%;
	margin: 0px 0px 20px -27px;
	font-weight: bolder;
	color: white;

}
